{% extends "questions/base.html" %}
{% load static %}

{% block content %}
<div class="align-items-center">
    <h3>New Question</h3>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p class="text-danger m-0">{{ error }}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'questions:ask' %}">
    {% csrf_token %}
    
    <div class="row align-items-center mb-3">
        <div class="col-2">
            <h4 class="m-0">Title</h4>
        </div>
        <div class="col-10">
            {{ form.title }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <h4 class="m-0">Text</h4>
        </div>
        <div class="col-10">
            {{ form.text }}
        </div>
    </div>

    <div class="row align-items-center mb-3">
        <div class="col-2">
            <h4 class="m-0">Tags</h4>
        </div>
        <div class="col-10">
            {{ form.tags }}
        </div>
    </div>
    
    <div class="offset-2">
        <button class="btn btn-dark" type="submit">Ask!</button>
    </div>
</form>
{% endblock %}