{% extends "questions/base.html" %}
{% load static %}

{% block auth %}
{% include "questions/blocks/auth_user.html" %}
{% endblock %}

{% block content %}
<div class="d-flex gap-3 align-items-center">
    <h3>New Questions</h3>
    <a href="{% url 'questions:hot_questions' %}">Hot Questions</a>
</div>
{% for q in questions %}
<div class="card w-100">
    <div class="card-body d-flex gap-3">
        <div class="col-2 me-2">
            <div class="image border" style="height: 100px; width: 100px;">
                <img src="img.jpg" alt="img" class="img-fluid" />
            </div>
            <div class="col-11 card__likes mt-2">
                <input value="5" type="number" class="form-control" />
            </div>
        </div>

        <div>
            <h5 class="card-title"><a href="{% url 'questions:question' q.id %}">{{ q.title }}</a></h5>
            <p class="card-text">
                {{ q.text }}
            </p>

            <div class="d-flex gap-2 align-items-center">
                <a href="{% url 'questions:question' q.id %}" class="btn btn-outline-success">Answers (2)</a>
                <span>Tags:</span>
                <div class="footer__tags">
                    {% for t in q.tags %}
                    <a href="{% url 'questions:tag' t %}"> {{ t }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if questions.has_previous %}
        <li class="page-item"><a class="page-link"
                href="{% url 'questions:new_questions' %}?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link">{{ questions.number }}</a></li>

        {% if questions.has_next %}
        <li class="page-item"><a class="page-link"
                href="{% url 'questions:new_questions' %}?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}