{% extends "questions/base.html" %}
{% load static %}

{% block content %}
<div class="align-items-center">
    <h3>Log In</h3>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    {% for error in form.non_field_errors %}
        <p class="text-danger m-0">{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'questions:login' %}{% if request.GET.continue %}?continue={{ request.GET.continue }}{% endif %}">
    {% csrf_token %}
    
    <div class="row align-items-center mb-3">
        <div class="col-2">
            <h4 class="m-0">Login</h4>
        </div>
        <div class="col-4">
            {{ form.username }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <h4 class="m-0">Password</h4>
        </div>
        <div class="col-4">
            {{ form.password }}
        </div>
    </div>

    <div class="offset-2 d-flex flex-column gap-3">
        <button class="btn btn-dark col-2" type="submit">Log in!</button>
        <a href="{% url 'questions:signup' %}">create new account</a>
    </div>
</form>
{% endblock %}