{% extends "questions/base.html" %}
{% load static %}

{% block content %}
<div class="card w-100">
    <div class="card-body d-flex gap-3">
        <div class="image-container" style="flex-shrink: 0; width: 200px;">
            <div class="image border" style="height: 200px; width: 200px;">
                {% if question.user.avatar %}
                <img src="{{ question.user.avatar.url }}" alt="img" class="img-fluid" />
                {% else %}
                <img src="/static/questions/images/image.png" alt="img" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-11 card__likes mt-2">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'questions:like_question' question.id %}" id="like-question-form">
                    {% csrf_token %}
                    <input value="{{ question.likes.count }}" type="number" class="form-control" style="width: 80px; text-align: center;" 
                           onchange="document.getElementById('like-question-form').submit()" />
                </form>
                {% else %}
                <input value="{{ question.likes.count }}" type="number" class="form-control" style="width: 80px; text-align: center;" readonly />
                {% endif %}
            </div>
        </div>
        <div class="text-container">
            <h3 class="card-title"> {{ question.title }} </h3>
            <p class="card-text"> {{ question.text }} </p>
            <div class="d-flex gap-2 align-items-center">
                <span>Tags:</span>
                <div class="footer__tags">
                    {% for t in question.tags.all %}
                    <a href="{% url 'questions:tag' tag=t %}"> {{ t }} </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-bottom border-2 my-2"></div>

{% for a in answers %}
<div class="card w-100" id="answer-{{ a.id }}">
    <div class="card-body d-flex gap-3">
        <div class="image-container" style="flex-shrink: 0; width: 100px;">
            <div class="image border" style="height: 100px; width: 100px;">
                {% if a.user.avatar %}
                <img src="{{ a.user.avatar.url }}" alt="img" class="img-fluid" />
                {% else %}
                <img src="/static/questions/images/image.png" alt="img" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-11 card__likes mt-2">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'questions:like_answer' a.id %}" id="like-answer-form-{{ a.id }}">
                    {% csrf_token %}
                    <input value="{{ a.likes.count }}" type="number" class="form-control" style="width: 80px; text-align: center;" 
                           onchange="document.getElementById('like-answer-form-{{ a.id }}').submit()" />
                </form>
                {% else %}
                <input value="{{ a.likes.count }}" type="number" class="form-control" style="width: 80px; text-align: center;" readonly />
                {% endif %}
            </div>
        </div>
        <div class="text-container">
            <p class="card-text"> {{ a.text }} </p>
            {% if user.is_authenticated and question.user.user == user %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="correctCheck{{ a.id }}" {% if a.is_correct %}checked{% endif %} disabled>
                <label class="form-check-label" for="correctCheck{{ a.id }}">Correct!</label>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<div class="border-bottom border-2 my-2"></div>

<div class="row">
    <form method="post" action="{% url 'questions:question' question.id %}" class="d-flex flex-column w-100">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if form.errors %}
        <div class="alert alert-danger mb-3">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="text-danger m-0">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <textarea name="text" class="form-control" rows="4" aria-label="Question answer"
            placeholder="Enter your answer here...">{{ form.text.value|default:'' }}</textarea>
        <div class="mt-3">
            <button class="btn btn-dark" type="submit">Answer</button>
        </div>
        {% else %}
        <textarea class="form-control" rows="4" aria-label="Question answer"
            placeholder="You need to log in to answer" readonly></textarea>
        <div class="mt-3">
            <a href="{% url 'questions:login' %}" class="btn btn-dark">Log in to answer</a>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}